<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-footer text-center mb-3">
                        <div class="small ml-1 mb-2">
                            <h4>Bem-Vindo</h4>
                            <br />
                            <span class="text-white h6 font-italic">Nome administrador</span>
                        </div>
                        <a id="userDropdown" class="text-dark ml-1" style="text-decoration: none" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logout&nbsp&nbsp<i class="fa fa-power-off"></i>
                        </a>
                    </div>
                    <div class="sb-sidenav-menu-heading text-center">Administração</div>
                    <a class="nav-link" asp-controller="Escolas" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-school"></i></div>
                        Escolas
                    </a>
                    <a class="nav-link" asp-controller="Utilizadores" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Utilizadores
                    </a>
                    <a class="nav-link" asp-controller="Contactos" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-envelope-open-text"></i></div>
                        Contactos
                    </a>
                    <a class="nav-link" asp-controller="Temas" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-highlighter"></i></div>
                        Temas
                    </a>
                </div>
            </div>
        </nav>
    </div>
