<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-footer mb-3">
                        <div class="small ml-1 mb-2">
                            Bem-Vindo
                            <br />
                            <span class="text-white h6 font-italic">Nome administrador</span>
                        </div>
                        <a id="userDropdown" class="text-light ml-1" style="text-decoration: none" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a class="text-light">Logout</a>&nbsp&nbsp<i class="fa fa-power-off" style="color: darkred"></i>
                        </a>
                    </div>
                    <div class="sb-sidenav-menu-heading">Administração</div>
                    <a class="nav-link" href="Livros.aspx">
                        <div class="sb-nav-link-icon"><i class="fas fa-school"></i></div>
                        Escolas
                    </a>
                    <a class="nav-link" href="Editoras.aspx">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Utilizadores
                    </a>
                    <a class="nav-link" href="Autores.aspx">
                        <div class="sb-nav-link-icon"><i class="fas fa-envelope-open-text"></i></div>
                        Contactos
                    </a>
                    <a class="nav-link" href="Encomendas.aspx">
                        <div class="sb-nav-link-icon"><i class="fas fa-highlighter"></i></div>
                        Temas
                    </a>
                </div>
            </div>
        </nav>
    </div>
