@{
    ViewBag.Title = "Nome escola";
}

<div class="bg-danger" style="display: flex;">
    <div class="text-center " style="flex-grow: .90">
        One of three columns
    </div>
    <div class="text-center bg-info" style="flex-grow: .10">
    </div>
</div>
