@model LoginViewModel
@inject IConfiguration configuration
@inject IHttpContextAccessor httpContext
@{
    ViewBag.Title = configuration["Projeto:Nome"];
    bool emailConfirmado = false;
}

@if (bool.TryParse(httpContext.HttpContext.Session.GetString("EmailConfirmado"), out _)) {
    httpContext.HttpContext.Session.Remove("EmailConfirmado");
    emailConfirmado = true;
}


<div class="modal fade" id="modal-recuperar-pass" tabindex="-1" role="dialog" aria-labelledby="modal-recuperar-pass-titulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-recuperar-pass-titulo">Recuperar password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="w-100"
      asp-action="RecuperarPassword"
      asp-controller="Conta"
      asp-antiforgery="true"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="ajaxCompleto"
      data-ajax-loading="#loading-icon-recuperar-password">
                <div class="form-group">
                    <label asp-for="EmailRecuperacaoPassword"></label>
                    <input class="form-control" asp-for="EmailRecuperacaoPassword" />
                    <span class="text-danger text-center" asp-validation-for="EmailRecuperacaoPassword"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block">
                          <i id="loading-icon-recuperar-password" style="display: none;" class="fas fa-spinner fa-spin"></i>
                        Recuperar</button>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        if (location.hash.toLowerCase().trim() === '#login') {
            $('#modal-login').modal('show');
        }

        $("#recuperar_pass").on("click", function () {
            $("#modal-login").modal("hide");
            $("#modal-login").on("hidden.bs.modal", function () {
                $("#modal-recuperar-pass").modal("show");
            });
        });

    </script>
    @if (emailConfirmado) {
        emailConfirmado = false;
        <script>
            ajaxCompleto
                ({
                    titulo: 'O seu email foi validado com sucesso!',
                    descricao: 'Já poderá autenticar-se e usar a nossa aplicação. Obrigado!',
                    ocorreuAlgumErro: false,
                    urlRedirecionar: ''
                });
        </script>
    }
}