@inject IConfiguration configuration
@{
    Layout = "~/Views/Escola/Shared/_Layout.cshtml";
    ViewBag.Title = $"Direção {configuration["Projeto:Nome"]} - Equipamentos";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" asp-controller="Equipamentos" asp-action="Index" asp-area="Direcao">Equipamentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab">Equipamentos requisitados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" asp-controller="Equipamentos" asp-action="Inserir" asp-area="Direcao">Inserir equipamento</a>
    </li>
</ul>



<div class="container-fluid">
    <div class="row p-5">
        <div class="">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Equipamento</th>
                        <th scope="col">Data da requisição</th>
                        <th scope="col">Data devolução</th>
                        <th scope="col">Requisitor</th>
                        <th scope="col">Aprovado</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>
