@inject IConfiguration configuration
@{
    Layout = "~/Views/Escola/Shared/_Layout.cshtml";
    ViewBag.Title = $"Direção {configuration["Projeto:Nome"]} - Equipamentos";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" asp-controller="Equipamentos" asp-action="Index" asp-area="Direcao">Equipamentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab">Equipamentos requisitados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" asp-controller="Equipamentos" asp-action="Inserir" asp-area="Direcao">Inserir equipamento</a>
    </li>
</ul>



<div class="container-fluid mt-4">
    Requisiçao
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
<p>teste</p>
</div>
