@inject IConfiguration configuration
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <img src="~/assets/img/logoOasisTeste.png" style="height:36px; width:auto">
                    <p><i class="fas fa-quote-left mr-2"></i>Importante na escola não é só estudar, é também criar laços de amizade e convivência.<i class="fas fa-quote-right ml-2"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span><img src="~/assets/img/logoOasisLogo.png" style="height:14px; width:auto; margin:0 2px 2px 0">@configuration["Projeto:Nome"]</span></strong>.
        </div>
    </div>
</footer>