@inject IConfiguration configuration
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h3>@configuration["Projeto:Nome"]</h3>
                    <p><i class="fas fa-quote-left mr-2"></i>Importante na escola não é só estudar, é também criar laços de amizade e convivência.<i class="fas fa-quote-right ml-2"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>@configuration["Projeto:Nome"]</span></strong>.
        </div>
    </div>
</footer>