@inject IConfiguration configuration
<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a asp-action="Index" asp-controller="Home">
            <img src="~/assets/img/logoOasis.png" style="height:36px; width:auto"></a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#hero">Home</a></li>
                <li><a href="#about">Sobre nós</a></li>
                <li><a href="#services">Porquê escolher a @configuration["Projeto:Nome"]?</a></li>
                <li><a href="#contact">Contacte-nos</a></li>
            </ul>
        </nav>
        <button type="button" class="btn btn-outline-primary ml-3" data-toggle="modal" data-target="#modal-login">Login</button>
    </div>

</header>