@model LoginViewModel
<form class="w-100"
      asp-action="Login"
      asp-controller="Conta"
      asp-antiforgery="true"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="ajaxCompleto"
      data-ajax-loading="#loading-icon-login">
    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger text-center" asp-validation-for="Email"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span class="text-danger text-center" asp-validation-for="Password"></span>
    </div>

    <div class="form-group mb-3">
        <input class="js-switch mb-4" asp-for="LembrarDeMim" />
        <label asp-for="LembrarDeMim"></label>
    </div>
    <div class="form-group mb-3">
        <a href="#" data-toggle="modal" data-target="#modal-recuperar-pass" id="recuperar_pass">Recuperar password</a>
    </div>
    <button class="btn btn-primary btn-block mt-2" type="submit">
        <i id="loading-icon-login" style="display: none;" class="fas fa-spinner fa-spin"></i>
        Autenticar-me
    </button>
</form>


