@model IEnumerable<Tema>
<div>
    <button class="btn btn-secondary m-3">Adicionar Tema</button>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome do tema</th>
                <th scope="col">Link do tema</th>
                <th scope="col">Acções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tema tema in Model) {
                <tr>
                    <td>@tema.Nome</td>
                    <td>@tema.LinkCdn</td>
                    <td>
                        <a href="#"><i class="far fa-edit fa-lg ml-1"></i></a>
                        <a href="#"><i class="far fa-trash-alt fa-lg ml-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>