@model Disciplina
@inject IConfiguration configuration
@{
    Layout = "~/Views/Escola/Shared/_Layout.cshtml";
    ViewBag.Title = $"Direção {configuration["Projeto:Nome"]} - Disciplinas";
}



<div class="container-fluid">
    <div class="row p-5">
        <div class="col-6 border-right">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Disciplina</th>
                        <th scope="col">Acções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Teste</td>
                        <td>
                            <a href="#"><i class="far fa-edit fa-lg ml-1"></i></a>
                            <a href="#"><i class="far fa-trash-alt fa-lg ml-2"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="p-5">
                <form id="form-inserir-disciplina"
                      class="w-100"
                      asp-action="Criar"
                      asp-controller="Disciplinas"
                      asp-area="Direcao"
                      asp-antiforgery="true"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-success="disciplinaInserida"
                      data-ajax-loading="#loading-icon-disciplina">
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input class="form-control" asp-for="Nome" />
                        <span class="text-danger text-center" asp-validation-for="Nome"></span>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        <i id="loading-icon-disciplina" style="display: none;" class="fas fa-spinner fa-spin"></i>
                        Inserir disciplina
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    <partial name="~/Views/Shared/_Validacoes.cshtml" />
    <partial name="~/Views/Shared/_Ajax.cshtml" />
    <script>
        function disciplinaInserida(respostaAjax) {
            document.getElementById('form-inserir-disciplina').reset();
            ajaxCompleto(respostaAjax);
        }
    </script>
}